* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

/* navbar */
.navbar {
    height: 60px;
    background-color: rgb(3, 9, 30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

.nav-logo {
    height: 50px;
    width: 100px;

}

.logo {
    background-image: url("image/download.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border :hover{
    border: .10px solid rgb(119, 97, 9);
}


}

/* box2 */
.add-icon{
    display: flex;
    align-items: center;
    gap: 3px;

}

.add-fir{
    color: white;
    font-size: .7rem;
}

.add-sec{
    font-size: .7rem;
}

.add-icon i{
    margin-top: 2px;
}

.add-icon p{
    margin-top: 8px;
}

/* box3 */
.nav-src{
    display: flex;
    background-color: rgb(228, 167, 68);
    height: 20px;
    width: 620px;
    border-radius: 2px;
}

.nav-src :hover{
    border: 2px solid orange;
}

.src-sl{
    border: none;
    border-radius: 2px;
    width: 40px;
}

.src-inp{
    width: 540px;
    border: none;
}

.src-icon{
    width: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* box4 */
.nav-sgn span{
    font-size: .80rem;
}

/* box5 */
.nav-rtn span{
    font-size: .80rem;
}

/* box6 */
.nav-crt i{
    font-size: 1.8rem;
}


/* panel */
.pnl{
    height: 40px;
    background-color: rgb(23, 19, 35);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: .85rem;

}

.pnl-ops p{
    display: inline;

}

.pnl-ops{
    width: 70%;
    font-size: .85rem;
}

.pnl-all{
    font-size: .9rem;
}

.pnl-ops p{
    margin: 8px;
}

/* hero section  */
.hero-sect{
    height: 600px;
    background-image: url("image/herosection.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-sect-msg{
    width: 90%;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .98rem;
    margin-bottom: 10px;
    border-radius: 2px;
}

.hero-sect-msg a{
    color: rgb(6, 6, 119);
}


/* shop sec */
.shop-sect{
    display: flex;
    justify-content: space-evenly;
    background-color: darkgray;
}
.box{
    height: 400px;
    width: 19%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 40px;
    border-radius: 2px;
}

.box1-img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-size: cover;
}

.box1-cont{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box1-cont p{
    color: rgb(6, 6, 119);
}


/* footer panel */
.foot-pnl1{
    background-color: rgb(1, 5, 19);
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.foot-pnl2{
    color: rgb(3, 9, 30);
    background-color: darkgray;
    height: 300px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

ul{
    margin-top: 40px;
}

ul a {
    display: block;
    margin-top: 10px;
}

.foot-pnl3{
    background-color: rgb(16, 18, 24);
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    background-image: url("image/download.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
